.new-item-container {
	box-sizing: border-box;
	width: 100%;
	padding: 20px 20px 0 20px;
	.new-item {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-between;

		span {
			color: gray;
			font-size: 24px;
		}

		a {
			padding: 5px 10px;
			color: green;
			border: 1px solid green;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}

.data-table {
	padding: 20px;
	height: 600px;

	.image-cell {
		display: flex;
		align-items: center;

		.img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			object-fit: cover;
			margin-right: 20px;
		}
	}

	.status {
		padding: 5px;
		border-radius: 5px;

		&.active {
			color: green;
			background-color: rgba(47, 165, 47, 0.101);
		}

		&.pending {
			color: goldenrod;
			background-color: rgba(220, 176, 66, 0.086);
		}

		&.passive {
			color: crimson;
			background-color: rgba(210, 52, 84, 0.063);
		}
	}

	.action-cell {
		display: flex;
		align-items: center;
		gap: 20px;

		button {
			cursor: pointer;
			padding: 2px 5px;
			border-radius: 4px;
			background: transparent;
		}

		.view-btn {
			color: darkblue;
			border: 1px dotted darkblue;
		}

		.del-btn {
			color: crimson;
			border: 1px dotted crimson;
		}
	}
}
